@model Category

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-primary bg-gradient ml-0 py-3 rounded-top">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Edit Category</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4 bg-light">
        <form method="post" class="row g-3">
            <div class="border p-3 bg-white rounded">
                <div class="form-floating py-2 col-12">
                    <input asp-for="Name" type="text" class="form-control" placeholder="Enter category name" />
                    <label asp-for="Name" class="form-label">Category Name</label>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-floating py-2 col-12">
                    <input asp-for="DisplayOrder" type="number" class="form-control" placeholder="Enter display order" />
                    <label asp-for="DisplayOrder" class="form-label">Display Order</label>
                    <span asp-validation-for="DisplayOrder" class="text-danger"></span>
                </div>
            </div>
            <div class="row pt-2 justify-content-left">
                <div class="col-6 col-md-3">
                    <button type="submit" class="btn btn-primary form-control">Create</button>
                </div>
                <div class="col-6 col-md-3">
                    <a asp-controller="Category" asp-action="Index" class="btn btn-outline-primary form-control">Back</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
